@page
@model YogaBeta.Pages.ListChakras4Model
@using Model

@{
    ViewData["Title"] = "ListChakras4";
    //Temporarily store the list of poses.
    TempData.Set("Poses", @Model.ClassPosesGenerated.ToArray());
}

<h1>Generated sequence of Poses</h1>

<ul>
    @{ int chakraIndex = 0;}
    @*Loop thru the generated poses*@
    @foreach (Poses i in @Model.ClassPosesGenerated)
    {
        <li>
            <img src="/images/@i.picture" width="100" height="100" />
            <span id="pose_@chakraIndex">@i.name</span>
            <label for="poses">To change the pose</label>

            @*Build a drop down list box of poses*@
            <select asp-for="@i.name" id="select_@chakraIndex" onchange="SetSelectedPose('select_@chakraIndex','pose_@chakraIndex')" >
                @for (int j = 0; j < @Model.PosesByChakra[chakraIndex].Count; j++)
                {
                    <option value="@Model.PosesByChakra[chakraIndex][j].name">@Model.PosesByChakra[chakraIndex][j].name</option>
                }
            </select>
            @{ chakraIndex++;}
        </li>
    }
</ul>

@section scripts {

    <script type="text/javascript">
        function SetSelectedPose(from, to)
        {
            //Get the value of the list box
            var element1 = document.getElementById(from);
            var selectedValue = element1.options[element1.selectedIndex].value;

            //Set the new value for the pose
            var element2 = document.getElementById(to);
            element2.textContent = selectedValue;
        }
    </script>

}



@*<p>List2</p>
    <ul>
        @foreach (Poses i in @Model.Poses)
        {
            <li>@i.name</li>
        }
    </ul>*@

<form method="post">
    <div class="row">
        <div class="col-md-6">

            <p class="actions">
                <button class="btn btn-primary">Next</button>
            </p>
        </div>
    </div>
</form>